/* FLUID TYPOGRAPHIC MIXINS */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700|Droid+Sans:400,700|PT+Serif:400,700);
/* line 36, ../sass/common/_variables.scss */
.section-border, .banner, .row.header h3 {
  border-bottom: 1px solid #1792D1;
}

/* line 40, ../sass/common/_variables.scss */
.transition, a, .close-btn::before, .close-btn::after, .project-featured-thumbs img {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/common/_global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/common/_global.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../sass/common/_global.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/common/_global.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/common/_global.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../sass/common/_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../sass/common/_global.scss */
a {
  color: #1792D1;
  text-decoration: none;
}

/* line 51, ../sass/common/_global.scss */
a:hover,
a:focus {
  color: #1482ba;
  text-decoration: underline;
}

/* line 56, ../sass/common/_global.scss */
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 61, ../sass/common/_global.scss */
.project-highlights {
  list-style: disc outside none;
  padding-left: 1rem;
}

/* Single property */
/* line 2, ../sass/common/_typography.scss */
html {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  /* line 2, ../sass/common/_typography.scss */
  html {
    font-size: calc(10px + 10 * (100vw - 320px) / 1046);
  }
}
@media screen and (min-width: 1366px) {
  /* line 2, ../sass/common/_typography.scss */
  html {
    font-size: 20px;
  }
}

/* line 6, ../sass/common/_typography.scss */
body {
  font-family: "Droid Sans", sans-serif;
  color: #1792D1;
  background-color: white;
  font-weight: 300;
  line-height: 1.45;
  color: #1792D1;
}

/* line 15, ../sass/common/_typography.scss */
p {
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 16px;
}

/* line 22, ../sass/common/_typography.scss */
.introduction h2, .introduction h3, .introduction h4 {
  font-family: "Oswald", sans-serif;
}

/* line 29, ../sass/common/_typography.scss */
h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
  color: #1792D1;
  font-weight: 400;
}

/* line 36, ../sass/common/_typography.scss */
h1 {
  margin-top: 0;
  font-size: 3.157rem;
}

/* line 41, ../sass/common/_typography.scss */
h2 {
  font-size: 2.369rem;
}

/* line 43, ../sass/common/_typography.scss */
h3 {
  font-size: 1.777rem;
}

/* line 45, ../sass/common/_typography.scss */
h4 {
  font-size: 1.333rem;
}

/* line 47, ../sass/common/_typography.scss */
small, .font_small {
  font-size: 12px;
}

/* Multiple properties with same values */
/* line 50, ../sass/common/_typography.scss */
h1 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media screen and (min-width: 20rem) {
  /* line 50, ../sass/common/_typography.scss */
  h1 {
    padding-bottom: calc(2rem + -1 * (100vw - 20rem) / 50);
    padding-top: calc(2rem + -1 * (100vw - 20rem) / 50);
  }
}
@media screen and (min-width: 70rem) {
  /* line 50, ../sass/common/_typography.scss */
  h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

/* line 54, ../sass/common/_typography.scss */
.nav-primary {
  font-family: "Oswald", sans-serif;
}

/* line 58, ../sass/common/_typography.scss */
.nav-primary h1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

/* line 64, ../sass/common/_typography.scss */
.header, .project-client {
  font-family: "Oswald", sans-serif;
}

/* line 68, ../sass/common/_typography.scss */
.header {
  text-transform: uppercase;
}

/* line 72, ../sass/common/_typography.scss */
.project-highlights {
  font-size: 16px;
}

/* line 1, ../sass/components/_buttons.scss */
.btn {
  background-color: #1792D1;
  color: #FFF;
}
/* line 5, ../sass/components/_buttons.scss */
.btn:hover {
  background-color: #1272a3;
  color: #e6e6e6;
}
/* line 10, ../sass/components/_buttons.scss */
.btn:active, .btn:focus, .btn.focus {
  background-color: #0f628c;
  color: #e6e6e6;
}

/* line 18, ../sass/components/_buttons.scss */
.more-btn {
  margin: 1rem auto 0;
  text-align: left;
}
@media (min-width: 768px) {
  /* line 18, ../sass/components/_buttons.scss */
  .more-btn {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 29, ../sass/components/_buttons.scss */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
/* line 43, ../sass/components/_buttons.scss */
.close-btn:hover::before, .close-btn:hover::after {
  background: #1792D1;
}
/* line 48, ../sass/components/_buttons.scss */
.close-btn::before, .close-btn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #60beee;
}
/* line 60, ../sass/components/_buttons.scss */
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 66, ../sass/components/_buttons.scss */
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 74, ../sass/components/_buttons.scss */
nav.social-links .svg-icon {
  height: 30px;
  width: 30px;
}

/* line 1, ../sass/layouts/_header.scss */
header {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/layouts/_header.scss */
  header {
    margin-bottom: 4rem;
  }
}

/* line 9, ../sass/layouts/_header.scss */
.banner {
  margin-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  /* line 9, ../sass/layouts/_header.scss */
  .banner {
    margin-top: 30px;
    padding-bottom: 30px;
  }
}

/* line 20, ../sass/layouts/_header.scss */
.navbar-brand.svg {
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 0;
}
/* line 26, ../sass/layouts/_header.scss */
.navbar-brand.svg ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 35, ../sass/layouts/_header.scss */
.navbar-brand.svg object {
  width: 3.2rem;
  height: 3.2rem;
  float: left;
}

/* line 44, ../sass/layouts/_header.scss */
.nav-primary .sitename {
  display: inline-block;
}
/* line 47, ../sass/layouts/_header.scss */
.nav-primary .sitename h1 {
  margin: 1.1rem 0 0;
  padding: 0;
}
/* line 53, ../sass/layouts/_header.scss */
.nav-primary .navbar-toggle {
  margin: 0;
}
/* line 57, ../sass/layouts/_header.scss */
.nav-primary ul {
  display: inline-block;
  float: right;
  margin: 0;
}
/* line 62, ../sass/layouts/_header.scss */
.nav-primary ul li {
  display: inline-block;
}

/* line 69, ../sass/layouts/_header.scss */
nav#navbar {
  margin-top: .4rem;
}

/* line 5, ../sass/layouts/_sidebar.scss */
.sidebar > .row {
  padding: 30px;
}
/* line 8, ../sass/layouts/_sidebar.scss */
.sidebar > .row .project-header-wrapper {
  margin-bottom: 1rem;
}
/* line 11, ../sass/layouts/_sidebar.scss */
.sidebar > .row .project-header-wrapper p {
  margin-bottom: 0;
}
/* line 16, ../sass/layouts/_sidebar.scss */
.sidebar > .row .project-content {
  padding-right: 30px;
}
/* line 20, ../sass/layouts/_sidebar.scss */
.sidebar > .row .project-highlights {
  margin-bottom: .5rem;
}
/* line 24, ../sass/layouts/_sidebar.scss */
.sidebar > .row .project-img img {
  margin-bottom: 30px;
}
/* line 29, ../sass/layouts/_sidebar.scss */
.sidebar > .row .live-url a {
  text-decoration: underline;
}

/* line 1, ../sass/layouts/_footer.scss */
footer {
  text-align: center;
  margin: 2rem auto 1rem;
}

@media (min-width: 768px) {
  /* line 1, ../sass/layouts/_pages.scss */
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*
section {
	margin: 60px auto 100px;
}
*/
/* line 14, ../sass/layouts/_pages.scss */
.row.header {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 14, ../sass/layouts/_pages.scss */
  .row.header {
    text-align: left;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

/* line 32, ../sass/layouts/_pages.scss */
.introduction p {
  margin-top: 3rem;
}

/* line 37, ../sass/layouts/_pages.scss */
.featured {
  margin-bottom: 4rem;
}

/* line 41, ../sass/layouts/_pages.scss */
.project-img img {
  border: 1px solid #EEE;
}

/* line 46, ../sass/layouts/_pages.scss */
.project-featured-thumbs {
  margin-top: 20px;
}
/* line 49, ../sass/layouts/_pages.scss */
.project-featured-thumbs img {
  cursor: pointer;
  border: 1px solid #EEE;
}
/* line 54, ../sass/layouts/_pages.scss */
.project-featured-thumbs img:hover {
  border: 1px solid #DDD;
}

/* line 62, ../sass/layouts/_pages.scss */
.project-wrapper .project-type {
  margin-bottom: .2rem;
  margin-top: 0.4rem;
}
/* line 67, ../sass/layouts/_pages.scss */
.project-wrapper .project-client {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 67, ../sass/layouts/_pages.scss */
  .project-wrapper .project-client {
    text-align: left;
  }
}
@media (min-width: 768px) {
  /* line 75, ../sass/layouts/_pages.scss */
  .project-wrapper .project-data {
    padding-left: 30px;
  }
}
/* line 81, ../sass/layouts/_pages.scss */
.project-wrapper .project-highlights {
  margin: 1rem 0;
}
/* line 85, ../sass/layouts/_pages.scss */
.project-wrapper .line-break {
  display: block;
  width: 15%;
  border-bottom: 1px solid #1792D1;
  margin: 8rem auto;
}

/* line 93, ../sass/layouts/_pages.scss */
li.project-wrapper {
  margin-top: 30px;
}
@media (min-width: 768px) {
  /* line 93, ../sass/layouts/_pages.scss */
  li.project-wrapper {
    margin-top: 0;
  }
}

/* line 1, ../sass/layouts/_tinymce.scss */
body#tinymce {
  margin: 12px !important;
}
