<div class="container-fluid">
  <div class="row">
	  <div class="col-xs-12">
		  <div class="banner clearfix">
			  <div class="brand navbar-brand svg">
			    <a class="" href="http://barrettj.co">
						<object data="img/bjb-logo.svg" type="image/svg+xml">
							<img src="img/bjb-logo.png" />
							</object>
					</a>
				</div>
		    
		    <div class="navbar nav-primary">
					<div class="sitename">
				    <a class="navbar-brand" href="http://barrettj.co">
					    <h1>Barrett James Butterfield</h1>
				    </a>
					</div>

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<nav id="navbar" class="navbar-collapse collapse navbar-right" role="navigation">
						<ul class="nav navbar-nav">
							<li><a href="#work">work</a></li>
							<li><a href="#about">about</a></li>
							<li><a href="#/contact">contact</a></li>
							<li><a href="#/blog">blog</a></li>
						</ul>
					</nav>
		    </div> <!-- close div.nav-primary -->
			</div> <!-- close .banner -->
		</div>
	</div>
</div>
