<div class="container-fluid">
  <div class="row">
	  <div class="col-xs-12">
		  <div class="banner clearfix">
		    <div class="nav-primary">
					<div class="sitename">
				    <a class="navbar-brand" href="/">
					    <h1>Barrett James Butterfield</h1>
				    </a>
					</div>

<!--
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
-->

					<nav id="navbar" class="" role="navigation">
						<ul class="nav navbar-nav">
							<li><a href="http://barrettj.co/cannedbutter" target="_blank">blog</a></li>
						</ul>
					</nav>
		    </div> <!-- close div.nav-primary -->
			</div> <!-- close .banner -->
		</div>
	</div>
</div>
