.ng-pageslide {
    background: #F8F8F8;
    overflow: scroll;
}
body.ng-pageslide-body-open::before {
/*     content: '.'; */
    display: block;
    position: absolute;
    top: 0;
/*     background-color: rgb(0,0,0); */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
    opacity: 0.5;
    pointer-events: all;
}
body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
/*     content: '.'; */
    display: block;
    position: absolute;
    top: 0;
/*     background-color: rgb(0,0,0); */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

body.ng-pageslide-body-open .ng-pageslide {
	box-shadow: none;
}

body.ng-pageslide-body-open .ng-pageslide {
	box-shadow: 0 0 20px 0 #ccc;
}

.sidebar > header.row {
	padding-bottom: 0;
	margin-bottom: 0;
}

.sidebar > .row {
	padding: 10px 0;
	
	@media #{$mediumAndAbove} {
		padding: 30px;
	}
	
	.sb-header-wrapper {
		margin-top: 2rem;
		margin-bottom: 1rem;
		text-align: center;

		@media #{$mediumAndAbove} {
			margin-top: 15px;
			margin-bottom: 0;
			text-align: left;
		}		
		
		.sb-project-client {
			margin-bottom: .5rem;

		}
		
		p {
			margin-bottom: 0;
		}
	}
	
	.sb-project-roles {
		text-align: center;
		
		@media #{$mediumAndAbove} {
			text-align: left;
		}
	}

	.sb-project-content {
		padding-right: 30px;
	}

	.sb-project-highlights {
		margin-bottom: .5rem;
	}

	.sb-project-img {
		text-align: center;

		img {
		margin-bottom: 15px;

			@media #{$mediumAndAbove} {
				margin-bottom: 30px;
			}		
		}
	}
}